body {
    background-color: #1a1a1a;
    color: cyan;
    font-family: cursive, "Courier New", sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: black;
    padding: 20px;
    height: 200px;
    box-shadow: 0 5px 50px;
    font-size: 2em;
    text-align: center;
    justify-content: center;
    align-content: center;
    text-shadow: 0 0 50px;
}

#items {
    margin: 50px auto;
}

.item {
    background-color: black;
    border: 5px dashed #b700ff;
    width: 500px;
    border-radius: 20px;
    margin: 50px auto;
    padding: 10px;
    color: white;
    box-shadow: 0 0 20px;
    display: flex;
}

.image {
    width: 200px;
    height: 200px;
    margin: 10px;
    box-shadow: 0 0 10px;
}

footer {
    background-color: black;
    padding: 20px;
    height: auto;
    margin-top: auto;
    box-shadow: 0 5px 50px cyan;
    color: white;
    text-align: left;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
}

.footer-item {
    align-content: center;
    padding: 10px;
    margin: auto;
}