body {
    background-color: #1a1a1a;
    color: cyan;
    font-family: cursive, "Courier New", sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    color: dodgerblue;
}

.header-footer {
    background-color: black;
    padding: 1em;
    box-shadow: 0 0 2em cyan;
}

header {
    font-size: 2em;
    text-align: center;
    text-shadow: 0 0 2em;
}

#items {
    width: 100%;
    margin: 3em auto;
}

#items .item {
    background-color: black;
    border: 0.4em dashed #b700ff;
    width: 80%;
    border-radius: 2em;
    margin: 3em auto;
    padding: 1em;
    color: white;
    box-shadow: 0 0 1em;
    overflow: hidden;
    transition: ease 0.5s;
}

#items .item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 2em;
    align-self: center;
}

#items .header {
    display: flex;
    flex-wrap: wrap;
}

#items .image {
    width: 15em;
    height: 15em;
    margin: 1em;
    box-shadow: 0 0 1em;
}

#items .title {
    font-size: 1.2em;
}

#items .info {
    margin: 1em;
}

#items .description {
    margin: 0 1em;
}

footer {
    margin-top: auto;
    color: white;
    display: flex;
    flex-direction: row;
}

footer .footer-item {
    padding: 1em;
    margin: auto;
}