body {
    background-color: #1a1a1a;
    color: cyan;
    font-family: cursive, "Courier New", sans-serif;
    margin: 0;
}

#top {
    background-color: black;
    padding: 20px;
    height: 200px;
    box-shadow: 0 5px 50px;
    font-size: 2em;
    text-align: center;
    align-content: center;
    text-shadow: 0 0 10px;
}

#items {
    width: auto;
    margin: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    grid-auto-rows: 100px;
    justify-content: center;
    grid-gap: 100px;
}

.item {
    background-color: black;
    border: 5px dashed #b700ff;
    border-radius: 20px;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding: 10px;
    color: white;
    box-shadow: 0 0 20px;
    font-size: 12px;
}